<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Angular Crud</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.js">
		<script type="text/javascript" src='js/vendor/angular.min.js'></script>
		<script type="text/javascript" src='js/vendor/angular-route.min.js'></script>
		<script type="text/javascript" src='controllers/main-controller.js'></script>
	</head>

	<body ng-app='myApp'>
		<header>
			<h3 class='text-center'> Basketball Player Info App </h3>
		</header>

		<main ng-view> </main>

		<footer>
			<p> @MaxJacobsen </p>
		</footer>

	</body>

</html>
