.input-text {
  width: 300px;
  max-width: 100%;
}

.result {
  width: 200px;
  max-width: 100%;
}

#userName {
  font-weight: bolder;
  color: red;
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
